<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Chatbot</title>

    <!-- My css File-->
    <link rel="stylesheet" href="../static/styles.css">

    <!-- Favicon -->
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    
  </head>
  <body class="light-theme">
    <div class="navbar">
      <div class="left">
        <a href="#">Home</a>
      </div>
      <div class="right">
        <a href="#">Author</a>
        <a href="#">Login / Signup</a>
        <a href="#">Signup</a>
      </div>
    </div>
    <br>
    <div class="container">
      <header>
        <h1>Voice Chatbot</h1>
        <div id="themeToggle" class="theme-toggle" aria-label="Toggle Theme">
          <span class="sun">☀️</span>
          <span class="moon">🌙</span>
        </div>
      </header>
      <main class="chat-container" id="chatContainer">
        <div id="welcomeMessage">
          <p>Welcome! Ask me anything or start by clicking the microphone icon.</p>
        </div>
        <!-- Chat messages will be appended here -->
      </main>
      <footer class="text-input-container" style="padding-left: 5px; padding-right: 0px;">
        <input type="text" id="textInput" placeholder="Type your message here..." aria-label="Type your message here...">
        <span id="micIcon" class="mic-icon" aria-label="Microphone Icon">🎙️</span>
        <button id="sendText" aria-label="Send Text">Send</button>
      </footer>
    </div>

    <!-- This is my js file -->
    <script src="../static/script.js"></script>
  </body>
</html>